extends layout

block content
    #companies.container-fluid
        .jumbotron
            h1 #{main_campaign}

        .row.container
            each campaign, index in campaigns
                .col-sm-3 
                    h3 
                        a( href='#{campaign.url}') #{campaign.name}
                    | #{campaign.tagline}
