extends layout

block content

    .container-fluid

        .jumbotron
            h1 Lorem Ipsum
            h3 THIS IS YOUR BIG OFFER FROM COMPANY &copy; INC.

            a.btn.btn-info.btn-lg(href="/companies") Check Offer


        .row.container

            .col-sm-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidicunt ut labore et dolore magna aliqua.

            .col-sm-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidicunt ut labore et dolore magna aliqua.

            .col-sm-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidicunt ut labore et dolore magna aliqua.

            .col-sm-3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidicunt ut labore et dolore magna aliqua.


