extends layout

block content
    #subscribe.container-fluid
        .jumbotron
            h1 Subscribe for the latest deals

        .row.container
            .col-sm-12
                //- Put the form stuff here