header.navbar-default
    background-color: #095C89
    color: #dddddd
    border-radius: 0
    
    a.navbar-brand
        color: #D9F2FF
        &:hover
            color: #fff
    .navbar-nav.navbar-right
        li a
            color: #FFF
            &:hover
                color: #FFF
                background-color: rgba(0,0,0,0.1)
    