#subscribe
    .jumbotron
        background-image: none
        background-color: rgba(0, 159, 245, 0.4)
        border-radius: 0
        height: auto
        margin-bottom: 0
        color: #ffffff
        
        h1
            text-align: center

#form-container
    padding-top: 10px

#submit
    margin-left: 35%
    
